<section id="body-container">
  <section id="body-left-container">
    <form id="calculate-route" name="calculate-route" action="#" method="get">
      <div class="search">

        <input class="search" type="text" id="from" name="from" required="required" placeholder="Start" size="35" />
        <a id="from-link" href="">Get my position</a>

        <input class="search" type="text" id="to" name="to" required="required" placeholder="End" size="35" />
        <a id="to-link" href="">Get my position</a>

      </div>
      <input type="submit" class="button-0"/>
      <input type="reset" class="button-0"/>
    </form>
  </section>
  <section id="body-right-container">
    <div id="map"></div>
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <p id="error"></p>
  </section>
</section>

<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var position = new google.maps.LatLng(37.7844974, -122.3993683);
    var myOptions = {
      zoom: 15,
      center: position,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(
        document.getElementById("map_canvas"),
        myOptions);
 
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        title:"This is the place."
    });  
 
    var contentString = '<strong>BEST Passion Project Ever</strong>!';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
 
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }
initialize();
</script>




