<section id="body-container">
  <section id="body-left-container">
   <div id="tabs-container">
      <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">Direction</a></li>
        <li><a href="#tab-2">Friend Finder</a></li>
      </ul>
    <div class="tab">
        <div id="tab-1" class="tab-content">
        <form id="calculate-route" name="calculate-route" action="#" method="get">
        <div class="search">

          <input class="search" type="text" id="from" name="from" required="required" placeholder="Start" size="35" />
          <a id="from-link" href="">Get my position</a>

          <input class="search" type="text" id="to" name="to" required="required" placeholder="End" size="35" />
          <a id="to-link" href="">Get my position</a>

        </div>
        <input type="submit" class="button-0"/>
        <input type="reset" class="button-0"/>
      </form>
    </div>

    <div id="tab-2" class="tab-content">
      <div class="search">

          <input class="search" type="text" id="from" name="from" required="required" placeholder="Start" size="35" />
          <a id="from-link" href="">Get my position</a>

          <input class="search" type="text" id="to" name="to" required="required" placeholder="End" size="35" />
          <a id="to-link" href="">Get my position</a>

        </div>
        <input type="submit" class="button-0"/>
        <input type="reset" class="button-0"/>
      </form>
    </div>
  </div>

  </section>
  <section id="body-right-container">
    <!-- <div id="map"></div>
    <div id="map_canvas" style="width:100%; height:100%"></div> -->
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:100%;width:100%;'><div id='gmap_canvas' style='height:100%;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">                 embed google maps             </a></small></div><div><small><a href="http://www.autohuren.world/">auto huren</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(37.7845165,-122.39719389999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(37.7845165,-122.39719389999999)});infowindow = new google.maps.InfoWindow({content:'<strong>BEST Passion Project Ever!!!</strong><br>633 Folsom Street, San francisco, ca<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    <p id="error"></p>
  </section>
</section>





