<section id="body-container">
  <section id="body-left-container">
    <form id="calculate-route" name="calculate-route" action="#" method="get">
      <div class="search">

        <input class="search" type="text" id="from" name="from" required="required" placeholder="Start" size="35" />
        <a id="from-link" href="">Get my position</a>

        <input class="search" type="text" id="to" name="to" required="required" placeholder="End" size="35" />
        <a id="to-link" href="">Get my position</a>

      </div>
      <input type="submit" class="button-0"/>
      <input type="reset" class="button-0"/>
    </form>
  </section>
  <section id="body-right-container">
    <div id="map"></div>
    <p id="error"></p>
  </section>
</section>












